.card {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
    perspective: 1000px;
    height: 33px;
    width: 170px;
    margin-right: 12px;
}

.cardInner {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cardFront {
    height: 33px;
    line-height: 32px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    color: seagreen;
    -webkit-backface-visibility: hidden;
}
.cardBack {
    height: 33px;
    line-height: 32px;
    width: 100%;
    position: absolute;
    background-color: seagreen;
    color: #fff;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.done {
    transform: rotateY(180deg);
}