.mainContent {
    box-sizing: border-box;
    margin: 150px auto;
    padding: 25px 20px;
    width: 100%;
    max-width: 955px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.822);
}
.text {
    flex-grow: 2;
}
p {
    margin: 0;
    padding: 0;
    max-width: 500px;
    font-size: 20px;
}
div:last-child {
    flex-grow: 1;
}
